{% extends "homepage/base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>About Us</h2>
  <p>
    Welcome to Yotta Plus Shop  
    We believe shopping should be simple, reliable, and stress-free. That’s why we bring everyday essentials straight to your door, combining quality with convenience so you can focus on what matters most.
  </p>
  <h4>Our Vision</h4>
  <p>
   To be the most trusted platform for everyday needs, making fresh and reliable shopping accessible to every home.
  </p>
  <h4>Our Mission</h4>
  <p>
   To provide high-quality essentials at fair prices, delivered quickly and with care, ensuring a seamless experience every time.
  </p>

  <h4>Our Goal</h4>
  <p>
   To set the standard for convenience and trust in online shopping—building lasting relationships with our customers by consistently exceeding expectations.
  </p>

</div>
{% endblock %}
